@import '/src/config/variables';

.pagelogin {
    display: flex;
    flex-direction: column;

    h2 {
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 21px;
    }
}

.forms {
    display: flex;
    align-self: center;
}

.offer {
    margin-left: 35px;
    width: 564px;
    padding-top: 37px;
    padding-left: 57px;
    background-color: #f5f9ff;
    font-size: 14px;
    font-weight: 300;
    h3 {
        font-size: 18px;
        font-weight: 600;
    }
    ul {
        list-style: inside;
    }
    button {
        width: 208px;
        height: 50px;
    }
    & > * {
        margin-bottom: 25px;
    }
}

@media screen and (max-width: @maxwidth-tablet) {
    .pagelogin {
        h2 {
            font-size: 18px;
        }
    }

    .offer {
        width: 345px;
        padding: 25px 19px 40px;
        font-size: 12px;
        h3 {
            font-size: 14px;
        }
        button {
            width: 183px;
            height: 38px;
            font-size: 13px;
        }
        & > * {
            margin-bottom: 15px;
        }
    }

    .forms {
        justify-content: center;
    }
}

@media screen and (max-width: @maxwidth-mobile) {
    .forms {
        flex-direction: column;
        align-items: center;
    }

    .offer {
        margin-left: 0;
        margin-top: 15px;
    }
}
