.page-enter {
    animation: pageEnter 1000ms forwards;
    z-index: 1;
}

.page-exit {
    position: absolute;
    animation: pageExit 300ms forwards;
    z-index: 0;
}

@keyframes pageEnter {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes pageExit {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
