//Брейкпоинты ширин экрана для @media
@maxwidth-tablet: 1024px;
@maxwidth-mobile: 425px;

//HEADER:
.mix-headerTop {
    background-color: #020202;
    color: #ffffff;
}

.mix-headerBottom {
    background-color: #ffffff;
    color: #000000;
}

//MAIN
.mix-main {
    background-color: #ffffff;
    color: #000000;
}

//FOOTER
.mix-footer {
    background-color: #020203;
    color: #ffffff;
}

//Ссылки
.mix-link {
    color: inherit;
    text-decoration: none;
    transition: 150ms;
    cursor: pointer;
    & > div {
        transition: 150ms;
        cursor: pointer;
    }
    &:hover,
    & > div:hover {
        color: rgb(120, 8, 224) !important;
    }
}
