@import '/src/config/variables';

.pagehome {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.banners {
    width: 100%;
    height: 328px;
}

.promoted {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.brands {
    width: 100%;
    margin-top: 65px;
    margin-bottom: 75px;
}

.reviews {
    align-self: center;
}

@media screen and (max-width: @maxwidth-tablet) {
    .banners {
        height: 173px;
    }
}

@media screen and (max-width: @maxwidth-mobile) {
    .banners {
        height: 82px;
    }
}
