@import '/src/config/variables';

.footermedium {
    display: flex;
    padding: 45px 261px 58px 261px;
}

.block {
    display: flex;
    flex-direction: column;
    &:not(:last-child) {
        margin-right: 78px;
    }
}

.title {
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
}

.list {
    font-size: 13px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
}

.blue {
    color: rgb(8, 134, 184);
}

@media screen and (max-width: @maxwidth-tablet) {
}

@media screen and (max-width: @maxwidth-mobile) {
}
