@import '/src/config/variables';

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: @maxwidth-tablet) {
}

@media screen and (max-width: @maxwidth-mobile) {
}
